.body {
  background-color: #181d23;
  margin: 0px;
  padding: 0px;
  font-family: "Exo 2", sans-serif;
}

.font {
  font-family: "Exo 2", sans-serif;
}

.text-yellow {
  color: yellow !important; /* Replace with your preferred shade of yellow */
}

.tracklist {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.text-block {
  margin-bottom: 10px;
}

#contact-form label {
  font-weight: bold;
  color: white;
}
#contact-form .form-group {
  margin-bottom: 20px;
}
#contact-form .form-control {
  border-radius: 0;
}
#contact-form button {
  border-radius: 0;
}

.carousel-container {
  width: 1600px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}

.home-image {
  width: 350px;
  height: 650px;
}

.carousel-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
